{{#each tiles}}
    {{#with .}}
        <div class="tile" data-tile-index={{index}} style="width: {{../cellWidth}}px; height: {{../cellWidth}}px; background-image: {{#if image}}url({{image}}), {{/if}}url({{../noneImage}})">
        </div>
    {{/with}}
{{/each}}
