<div class="gameWindow">
    <div id="researchArea" class="gameWindowInner">
        <a href="javascript:void(0);" id="closeResearchButton" class="closeButton"></a>
        <span>Money: <span id="researchMoney" class="researchPrice">{{formatMoney money}}</span></span>
        <hr class="bar" style="margin: 0 -15px;">
        <div class="researchItemContainer">
            {{#each research}}
            <div id="{{codename}}" class="researchItem">
                <div class="researchItemInner">
                    <div class="researchIcon" style="background-image: url({{image}})"></div>
                    <span class="researchName">{{name}}</span>
                    <div style="width: 182px;">
                        <div>
                            <span>Level:&nbsp;</span>
                            <span class="researchLevel">{{level}}</span>
                        </div>
                        <div style="float: right;">
                            <span>Price:&nbsp;</span>
                            <span class="researchPrice">{{formatMoney price}}</span>
                        </div>
                    </div>
                    <span>{{description}}</span>
                </div>
                <a href="javascript:void(0);" data-research-codename="{{codename}}" class="buyResearchButton button">Buy</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
